* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

#main-page {
    background: url('image-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.loginrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

#div-2 {
    background: rgba(116, 81, 45, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 50px 25px 40px 25px;
    width: 100%;
    max-width: 400px;
    animation: fadeInAnimation 0.8s ease-out; 
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#div-2 h1 {
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

#div-2 p {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

div#loginwrap {
    padding: 100px 0;
}

#log-image {
    height: 100px;
    width: 100px;
    margin: 0 auto 1% auto;
    display: block;
}

.loginrow [type=text], .loginrow [type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-style: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: whitesmoke; 
}

#name::placeholder, #pass::placeholder {
    color: white;
}

.loginrow #pass, #show-password {
    margin-bottom: 1px;
}

label {
    font-size: 11px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5px;
}

#show-password {
    margin: 0;
    width: auto;
}

.loginrow [type=submit] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    background-color: #543310;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
}

.loginrow [type=submit]:hover {
    background-color: #74512D;
    transition: all 0.5s ease;
}

.signIn a {
    text-decoration: none;
}

.signIn #pId {
    font-weight: normal;
}

.signIn #pId:hover {
    color: #AF8F6F;
    cursor: pointer;
    text-decoration-color: whitesmoke;
    text-decoration: underline;
}

#username-error {
    color: red;
    font-size: 12px;
    margin-top: -11px;
    margin-bottom: 6px;
    font-weight: bold;
}

#password-error {
    color: red;
    font-size: 12px;
    margin-top: -1px;
    margin-bottom: 6px;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: #543310;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: auto;
    color: white;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
    color: whitesmoke;
}

@media screen and (max-width: 768px) {
    #div-2 {
        width: 80%;
        padding: 30px 20px; 
    }

    .loginrow {
        padding-left: 0; 
    }

    #log-image {
        height: 80px;
        width: 80px; 
        margin: 0 auto 10px auto; 
    }

    .loginrow [type=submit] {
        font-size: 16px; 
    }

    #div-2 h1 {
        font-size: 25px;
        line-height: 1.2;
    }

    #div-2 p {
        font-size: 14px;
    }

    div#loginwrap {
        padding: 50px 0 0 15px;
    }

    main#main-page {
        height: calc(100vh - 86px);
    }
}

@media screen and (max-width: 480px) {
    #div-2 {
        width: 90%; 
        padding: 20px 15px; 
    }

    #log-image {
        height: 90px;
        width: 90px;
        margin: 0 auto 5px auto;
    }

    .loginrow [type=submit] {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    #div-2 {
        width: 80%; 
        padding: 30px 20px; 
    }

    .loginrow {
        padding-left: 0; 
    }

    #log-image {
        height: 80px;
        width: 80px; 
        margin: 0 auto 10px auto; 
    }

    .loginrow [type=submit] {
        font-size: 16px;
    }

    #div-2 h1 {
        font-size: 25px;
        line-height: 1.2;
    }

    #div-2 p {
        font-size: 14px;
    }

    div#loginwrap {
        padding: 0 0;
    }

    main#main-page {
        height: calc(100vh - 86px);
    }
}
@media screen and (max-width: 1280px) {
    #div-2 {
        width: 100%;
        padding: 30px 20px;
    }

    .loginrow {
        padding-left: 0; 
    }

    #log-image {
        height: 80px;
        width: 80px; 
        margin: 0 auto 10px auto; 
    }

    .loginrow [type=submit] {
        font-size: 16px; 
    }

    #div-2 h1 {
        font-size: 25px;
        line-height: 1.2;
    }

    #div-2 p {
        font-size: 14px;
    }

    div#loginwrap {
        padding: 30px 0;
    }

    main#main-page {
        height: calc(100vh - 86px);
    }
}